@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Ekleme Sayfası</h3>
</div>
@using (Html.BeginForm("UpdateExperience", "Experience", FormMethod.Post))
{
    <br />
    @Html.Label("Deneyim Başlığı")
    <br />
    @Html.TextBoxFor(x => x.ExperienceName, new { @class = "form-control" })
    <br />
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.ExperienceDate, new { @class = "form-control" })
    <br />
    <label>Resim Yolu</label>
    @Html.TextBoxFor(x => x.ExperienceImageUrl, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.ExperienceDesription, 10, 3, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
}