@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("UpdatePortfolio", "Portfolio", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Proje Güncelleme Sayfası</h4>
                <form class="forms-sample">
                    @Html.HiddenFor(x => x.PortfolioId)
                    <br />
                    <label>Proje Başlığı</label>
                    @Html.TextBoxFor(x => x.PortfolioName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.PortfolioName)
                    <br />
                    <label>Fiyat</label>
                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Price)
                    <br />
                    <label>Tamamlanma Oranı</label>
                    @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Value)
                    <br />
                    <label>Proje Resim Yolu</label>
                    @Html.TextBoxFor(x => x.PortfolioImageUrl, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.PortfolioImageUrl)
                    <br />
                    <label>Proje Resim Yolu 2</label>
                    @Html.TextBoxFor(x => x.PortfolioImageUrl2, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.PortfolioImageUrl2)
                    <br />
                    <label>Proje Yönlendirme Yolu</label>
                    @Html.TextBoxFor(x => x.PortfolioProjectUrl, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.PortfolioProjectUrl)
                    <br />
                    <label>Platform İcon Url</label>
                    @Html.TextBoxFor(x => x.Platform, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Platform)
                    <br />
                    <button class="btn btn-info">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
}